.noProductStock{
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	justify-content: center;
	height: calc(100vh - 126px);
}

.noProductsStockIcon{
	width: 56px;
	height: 56px;
	border-radius: 50%;
	background: #FDE68A;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 16px;
}

.noProductStockHeader{
	color: #27272A;
	text-align: center;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: 28px;
}

.noProductStockText{
	color: #71717A;
	text-align: center;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	margin-bottom: 24px;
}

.noProductStockBtn{
	color: #fff;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 24px;
	background: #2997A3;
	margin-top: 24px;
	margin-bottom: 24px;
}

.noProductStockBtn:hover {
	background: #4DA8B2;
}

.selectCategory{
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	justify-content: center;
	height: calc(100vh - 126px);
}

.selectCategoryIcon{
	color: #2997A3;
	background: #E6FCFA;
	border: 8px solid #fff;
	border-radius: 50%;
	width: 75px;
	height: 75px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.selectCategoryHeader{
	color: #000;
	text-align: center;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: 28px;
	max-width: 450px;
}

.addStockFlex{
	display: flex;
	flex-wrap: nowrap;
	align-content: stretch;
	height: calc(100vh - 61px);
}

.addStockBtn {
	color: #fff;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 24px;
	background: #2997A3;
	text-decoration: none;
	display: inline-flex;
	padding: 0 18px;
	height: 34px;
	align-items: center;
	border-radius: 4px;
}

.addStockCategoryTree{
	background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-6));
	width: rem(350px);
	padding: 12px 0px;
	border-right: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.addStockProducts{
	flex-grow: 1;
	padding: 12px 15px;
}

.productsTable{
	background: #fff;
	border: 1px solid #E4E4E7;
}

.tableHead {
	background: #fff;
}

.tableHead th{
	color: #27272A;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
}

.tableTdoby{
	background: #fff;
}

.bestPrice{
	color: #71717A;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
}

.productName{
	color: #3F3F46;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
}

.productIndex{
	color: #71717A;
	text-align: center;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
}

.newPrice input{
	color: #2997A3;
}


.category {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #2997A3;

}

.lastCategory {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #27272A;

	svg{
		color: #2997A3;
	}
}


.activeCategory {
	color: #2997A3;
	background: #E6FCFA;
}