.noProductStock{
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	justify-content: center;
	height: calc(100vh - 126px);
}

.noProductsStockIcon{
	width: 56px;
	height: 56px;
	border-radius: 50%;
	background: #FDE68A;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 16px;
}

.noProductStockHeader{
	color: #27272A;
	text-align: center;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: 28px;
}

.noProductStockText{
	color: #71717A;
	text-align: center;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	margin-bottom: 24px;
}

.noProductStockBtn{
	color: #fff;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 24px;
	background: #2997A3;
	margin-top: 24px;
	margin-bottom: 24px;
}

.noProductStockBtn:hover {
	background: #4DA8B2;
}

.selectCategory{
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	justify-content: center;
	height: calc(100vh - 126px);
}

.selectCategoryIcon{
	color: #2997A3;
	background: #E6FCFA;
	border: 8px solid #fff;
	border-radius: 50%;
	width: 75px;
	height: 75px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.selectCategoryHeader{
	color: #000;
	text-align: center;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: 28px;
	max-width: 450px;
}

.addStockFlex{
	display: flex;
	flex-wrap: nowrap;
	align-content: stretch;
}

.addStockBtn {
	color: #fff;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 24px;
	background: #2997A3;
	text-decoration: none;
	display: inline-flex;
	padding: 0 18px;
	height: 34px;
	align-items: center;
	border-radius: 4px;
}

.addStockCategoryTree{

}

.addStockProducts{
	flex-grow: 1;
}

.tableHead {
	background: #fff;
}

.tableTdoby{
	background: #fff;
}