.pageWrapper {

}

.pageHeaderWrapper {
    padding: 16px 32px;
    border-bottom: 1px solid #E4E4E7;
    background: #FFF;
}

.pageHeaderTitle {
    color: #27272A;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}

.pageHeaderAction {
    flex-grow: 1;
    text-align: right;
}

.pageContent {
    padding: 28px 32px;
    height: calc(100vh - 69px);
}

.pageContentNoPadding{
     padding: 0;
}

.pageContentFullHeight{
    height: 100vh;
}