.authContainer {
    height: 100vh;
}

.authForm {
    width: 50%;
    padding: 20px;
}

.formBlock {
    width: 400px;
    margin: 0 auto;
}

.authImageBg {
    flex: 1;
    background-image: url('https://gas-kvas.com/uploads/posts/2023-02/1675441029_gas-kvas-com-p-fonovii-risunok-sotovogo-3.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}