.drawerBody {
    padding: 0;
}

.drawerCloseButton {
    background: #F3F3F3;
    color: rgba(27, 31, 59, 0.4);
}

.bodyBlock {
    padding: 10px;
}

.bodyBlock + .bodyBlock {
    border-top: 1px solid #E0E0E0;
}

.categoriesBlock{
    background: #F8F8F8;
}

.productNotFound{
    color: rgba(27, 31, 59, 0.65);
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 5px;
}

.productName {
    color: #436CFB;
}

.productName:hover {
    cursor: pointer;
}

.input_quantity,
.input_price {
    text-align: center;
    border-radius: 0;
}

.input_quantity:hover,
.input_price:hover {
    cursor: pointer;
}

.new_price {
    color: red;
}

.price {
    color: black;
}

.input_active {
    color: #436CFB;
    border-bottom: 1px solid #436CFB;
}

.showInfo {
    padding: 24px;
}

.showInfo .productInfo {
    padding-bottom: 12px;
    margin-bottom: 12px;
    border-bottom: 1px solid #E0E0E0;
}

.showInfo .productName {
    color: rgba(25, 28, 48, 0.9);
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
}

.showInfo .info {
    color: rgba(25, 28, 48, 0.45);
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.4px;
    margin-bottom: 4px;
}

.showInfo .info span{
    color: rgba(25, 28, 48, 0.9);
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.4px;
}

.productArticle {
    color: #1B1F3B73;
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
}