.noCategories {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.noCategoriesIcon {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: #FDE68A;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
}

.noCategoriesHeader {
    color: #27272A;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}

.noCategoriesText {
    color: #71717A;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 24px;
}

.addCategoryItemBtn {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    background: #2997A3;
    margin-top: 24px;
    margin-bottom: 24px;
}

.addCategoryItemBtn:hover {
    background: #4DA8B2;
}

.categoryList {
    background: #FFFFFF;
    padding: 24px;
}

.categoryListHeader{
    color: #27272A;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0.25px;
}

.addCategorySpecificationsBtn{
    color: #000;
    border-radius: 8px;
    background: #E4E4E7;
}

.addCategorySpecificationsBtn:hover{
    background: #F4F4F5;
}

.removeAllCategorySpecifications{
    color: #71717A;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    text-decoration-line: underline;
    margin-left: 15px;
}

.removeAllCategorySpecifications:hover {
    text-decoration: none;
}

.selectedCategorySpecifications{
    border-radius: 8px;
    border: 1px solid #E4E4E7;
    background: #FAFAFA;
    padding: 12px 16px 12px 12px;
    margin-bottom: 20px;
}

.selectedCategorySpecificationsFlex{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    flex: 1 0 0;
    align-self: stretch;
}

.selectedCategorySpecificationItem {
    display: flex;
    padding: 4px 8px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid #E4E4E7;
    background: #FFF;
}

.selectedCategorySpecificationItemName{
    flex-grow: 1;
}

.selectedCategorySpecificationItemTrash{

}

.categoryItem {
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.activeCategory{
    color: #2997A3;
}

.categoryItemName {
    flex-grow: 1;
    display: flex;
}

.formFlex{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 24px;
    height: calc(100vh - 80px);
}

.formArea{
    flex-grow: 1;
}

.comboboxOption {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
}

.comboboxOptionValue{
    flex-grow: 1;
}