.stepper {

}

.header{
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	gap: 10px;
}

.heading{
	color: #27272A;
	font-size: 24px;
	font-style: normal;
	font-weight: 600;
	line-height: 32px;
	flex-grow: 1;
}

.stepOf{
	color: #A1A1AA;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 20px;
}

.separators{
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	align-content: center;
	justify-content: space-between;
	align-items: center;
	gap: 12px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.separator{
	height: 4px;
	background: #EEE;
	flex: 1;
}

.separatorActive{
	background: #1470C6;
}

.step {

}