.productName {
    color: #436CFB;
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
}

.productArticle {
    color: #1B1F3B73;
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
}