.noProducts {
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.noProductsIcon {
	width: 56px;
	height: 56px;
	border-radius: 50%;
	background: #FDE68A;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 16px;
}

.noProductsHeader {
	color: #27272A;
	text-align: center;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: 28px;
}

.noProductsText {
	color: #71717A;
	text-align: center;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	margin-bottom: 24px;
}

.addProductItemBtn {
	color: #fff;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 24px;
	background: #2997A3;
	padding: 8px;
	margin-top: 24px;
	margin-bottom: 24px;
}

.formFlex{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	gap: 24px;
	height: calc(100vh - 80px);
}

.formArea{
	flex-grow: 1;
}

.productsListWrapper{
	padding: 32px 24px;
	height: 100vh;
}

.productsList {
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	align-items: stretch;
	gap: 16px;
}

.productItem {
	border-radius: 8px;
	border: 1px solid #E4E4E7;
	background: #FFF;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	padding: 12px 24px 12px 12px;
}

.productItemName {
	flex-grow: 1;
}