.controlPanelWrapper {
    width: 100%;
    display: flex;
    flex: 1 1 auto;
    align-items: stretch;
    height: 100vh;
}

.controlPanelContainer{
    width: 100%;
    display: flex;
    flex: 1 1 auto;
    align-items: stretch;
}

.controlPanelSidebar {
}

.controlPanelContent {
    flex-grow:1;
    background: #EAEDF4;
    padding: 0 16px 16px 16px;
    /*margin-left: 300px;*/
}

.container {
    padding: 0
}

.containerFlex{
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    /*align-content: stretch;*/
}

.leftColumn {
    width: 50%;
    padding: 50px 120px;
}

.rightColumn {
    width: 50%;
    background: url('/images/auth_bg.svg');
    background-Size: cover;
}




@media (min-width: 1px) and (max-width: 576px) {
    .containerFlex{
        flex-direction: column;
        height: inherit;
    }

    .leftColumn {
        width: 100%;
        padding: 10px;
    }

    .rightColumn {
        display: none;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    .containerFlex{
        /*flex-direction: column;*/
        /*height: inherit;*/
    }

    .leftColumn {
        width: 60%;
        padding: 10px;
    }

    .rightColumn {
        width: 40%;
    }

    /*.rightColumn {*/
    /*    display: none;*/
    /*}*/
}