.nomenclature {}

.nomenclatureCategories {
    min-width: 300px;
    height: calc(100vh - 102px);
    background: #fff;
    padding: 12px;
}

.nomenclatureProducts {
    flex-grow: 1;
    height: calc(100vh - 102px);
    background: #fff;
    padding: 12px;
}

.nomenclatureCategoryButtons {
    margin-bottom: 8px;
}

.nomenclatureAddButtonCategory {

}


.categorySelectedSpecifications{
    border-radius: 8px;
    border: 1px solid #E4E4E7;
    background: #FAFAFA;
    padding: 12px 16px 12px 12px;
    margin-bottom: 20px;
}

.categorySelectedSpecification{
    padding: 4px 8px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid #E4E4E7;
    background: #FFF;
    margin-bottom: 8px;
}

.categorySelectedSpecification .name {
    flex-grow: 1;
}

.optionProductSpecification .name {
    flex-grow: 1;
}

.flexProductForm {
    min-height: calc(100vh - 76px);
    gap: 16px;
}