.drawerBody {
    padding: 0;
}

.drawerCloseButton {
    background: #F3F3F3;
    color: rgba(27, 31, 59, 0.4);
}

.bodyBlock {
    padding: 10px;
}

.bodyBlock + .bodyBlock {
    border-top: 1px solid #E0E0E0;
}

.cartTypeTitle {
    color: rgba(27, 31, 59, 0.9);
    font-size: 17px;
    font-weight: 500;
    line-height: 28px;

}