.treeItem {
    cursor: pointer;
}

.treeHandle {

    color: #E4E4E7;
    border: 0;
    height: 24.8px;
    width: 24.8px;
}

.treeHandle:hover {
     color: #000;
     background: #F4F4F5;
 }

.treeBox:has([role="status"][aria-live="assertive"]) [role="status"][aria-live="assertive"] {
    bottom: 0;
    left: 0;
}