.category {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #27272A;
}

.category:hover {
	color: #2997A3;
}

.lastCategory {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #27272A;
	border-left: 2px solid #D4D4D8;

	svg{
		color: #2997A3;
	}
}

.lastCategory:hover {
	color: #2997A3;
}

.activeCategory {
	color: #2997A3;
	background: #E6FCFA;
}