.root{
    margin-Bottom: 100px
}

.text{
    color: #697586;
    font-Size: 14px;
    font-Style: normal;
    font-Weight: 500;
    line-Height: 24px;
    text-Align: right
}

.link{
    color: #2997A3;
    font-Size: 14px;
    font-Style: normal;
    font-Weight: 400;
    line-Height: 24px;
    text-Align: right
}

@media (min-width: 1px) and (max-width: 576px) {
    .root {
        margin-bottom: 20px;
        flex-direction: column;
    }

    .linkBlock{
        text-align: right;
    }

    .links{
        margin-top: 10px;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    .root {
        margin-bottom: 70px;
    }
}