.homeFirstScreen {
    position: relative;
    background-color: #f8f9fb; /* Явное задание фонового цвета */
    /*background-image: url("/images/homepage/firstScreenPc.svg");*/
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 600px;
}

.title {
    font-weight: 800;
    font-size: 56px;
    line-height: 64px;
    text-align: center;
    color: #1B1F3BE5;
    margin-bottom: 18px;
}

.subTitle {
    font-weight: 500;
    font-size: 17px;
    line-height: 28px;
    text-align: center;
    color: #1B1F3BE5;
}

.salesOnHomePage {
    margin-top: 64px;
    margin-bottom: 120px;
}

.salesTitle {
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    color: #1B1F3BE5;
    margin-bottom: 24px;
}

.productName {
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    color: #1B1F3BE5;
}

.productPrice {
    font-size: 17px;
    font-weight: 800;
    line-height: 28px;
    color: #1B1F3BE5;
}

.productQty {
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    color: #1B1F3BE5;
}

.productDate {
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    color: #1B1F3B73;
}

/* Для телефонов (меньше 768px) */
@media (max-width: 767px) {
    .homeFirstScreen {
        background: url("/images/homepage/firstScreenMob.svg");
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 260px;
    }

    .title {
        font-size: 26px;
        line-height: 32px;
    }
}

/* Для планшетов (768px - 1199px) */
@media (min-width: 768px) and (max-width: 1199px) {
    .homeFirstScreen {
        background: url("/images/homepage/firstScreenTab.svg");
        background-repeat: no-repeat;
        padding-top: 600px;
    }

    .title {
        font-size: 34px;
        line-height: 42px;
    }
}