.pageWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: calc(100vh - 16px);
}

.pageHeaderWrapper {
    padding: 12px 24px;
    background: #FFF;
    border-radius: 0 0 12px 12px;
}

.pageHeaderTitle {
    color: #27272A;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}

.pageHeaderAction {
    flex-grow: 1;
    text-align: right;
}

.pageContent {
    background: #FFFFFF;
    border-radius: 12px;
    padding: 12px 24px;
    flex-grow: 1;
}

.backButton{

    svg {
        display: block;
    }

    @mixin hover {
        color: rgba(59, 159, 152, 1);
    }
}