.header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 100;
}

.stickyHeader {
    top: 30px;
    transition: all 0.3s ease;
}

.fixedHeader{
    top: 0;
    transition: all 0.3s ease;
}

.inner {
    background: #FFFFFFB2;
    border: 1px solid #EBEDF1;
    border-radius: 10px;
    padding: 8px 24px;
}

.link {
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    color: #191C30E5 !important;
}

.lang {

}