.headerPageWrapper {
    background-color: #FFFFFF;
    border-radius: 0 0 12px 12px;
    padding: 12px;
}

.headerPageTitle {

}

.sidebarPageWrapper {}

.sidebarPageWrapperTransparent {

}

.sidebarPageWrapperWhite {
    background-color: #FFFFFF;
}