.clientStockPage {

}

.clientStock {
	padding: 24px;
}

.categories {
	background: #fff;
	width: 350px;
	height: calc(100vh - 71px);
}

.clientStock {
	flex-grow: 1;
}

.warehouses {

}

.warehousesMap {
	color: #2997A3;
}

.nowrap {
	white-space: nowrap;
}

.dataEmpty {
	height: calc(100vh - 120px);
}

.dataEmptyIcon {
	color: #2997A3;
	background: #E6FCFA;
	border-radius: 50%;
	border: 8px solid #fff;

	display: flex;
	justify-content: center;
	align-items: center;

	width: 90px;
	height: 90px;

	svg {
		display: inline-flex;
	}
}

.product .name {
	color: #2997A3;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
	text-decoration-line: underline;
}

.product .quantity {
	color: #27272A;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
}

.product .quantity .badge {
	background: red;
	width: 10px;
	height: 10px;
	border-radius: 50%;
}

.product .quantity .badge.badgeEnough {

}

.product .quantity .badge.badgeMany {

}

.product .quantityText {
	color: #27272A;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
}
