.fullName {
    color: #1B1F3BE5;
    font-size: 17px;
    font-weight: 500;
    line-height: 28px;
}

.roleName {
    color: #1B1F3B73;
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
}